<div class="home-module-wrapper home-auto-lock">    
    <div class="home-autolock-image">
      <img src="{{ 'autolock.png' | asset_url }}" style="width:100%;height: 780px;">
      <div class="border-box-auto-lock">
        <h2>AUTO LOCK</h2>
        <p>Skylock makes locking easy. Just snap the <br/> 
shackle into the lockbar and walk <br/> 
away. Skylock locks AUTOMATICALLY.</p>
      </div>
    </div>  
</div>