<div class="home-module-wrapper best-wirless">    
    <div class="home-best-wirless-image">
      <img src="{{ 'bestofclasswirless.png' | asset_url }}" style="width:100%;height: 780px;">
      <div class="border-box-best-wirless">
        <h2>BEST OF CLASS WIRELESS RANGE</h2>
        <p>Skylock’s custom antenna means your <br/> 
bluetooth signal will stay connected <br/> 
when it matters most.</p>
      </div>
    </div>  
</div>