<div id="order-popup">
    <div id="order-popup-scrim"></div>
    <div class="center">
        <div class="text">
            Skylock starts shipping Summer 2015
        </div>
        <div class="box container">
            <div class="row">
                <img class="col-xs-7 lock-pair" src="{{'skylock_pair.png' | asset_url}}" />
                <span class="col-xs-5 price"><span class="smaller">PRE-ORDER</span><br>$159<br><del>RETAIL $199</del></span>
            </div>
            <div class="row color-select left">
                <span class="col-xs-6 label">SELECT COLOR:</span>
            </div>
            <div class="row color-select">
                <span class="col-xs-5 white color-label">Pearl White</span>
                <span class="col-xs-2 white swatch img-circle noselect">
                    <img src="{{'plus.png' | asset_url}}">
                </span>
                <span class="col-xs-1 col-xs-offset-1 white quantity noselect" product-id="1040212157">0</span>
                <span class="col-xs-1 white minus noselect">▼</span>
            </div>
            <div class="row color-select">
                <span class="col-xs-5 black color-label">Charcoal Grey</span>
                <span class="col-xs-2 black swatch img-circle noselect">
                    <img src="{{'plus.png' | asset_url}}">
                </span>
                <span class="col-xs-1 col-xs-offset-1 black quantity noselect" product-id="1042355901">0</span>
                <span class="col-xs-1 black minus noselect">▼</span>
            </div>
            <div class="row tos">
                <span class="col-xs-12 left"><label class="noselect"><input id="tos-checkbox" type="checkbox" name="tos" value="tos-agree">By placing this pre-order, you agree to Skylock's <a href="http://skylock-2.myshopify.com/pages/terms-of-sale" target="_blank">terms of sale</a>.</label></span>
            </div>
            <div class="row submit">
                <button id="checkout" class="col-xs-6 col-xs-offset-3" disabled>CHECKOUT</button>
            </div>        
        </div>
    </div>
</div>
