<div class="home-module-wrapper home-keyless">    
    <div class="home-keyless-image">
      <img src="{{ 'keyless.png' | asset_url }}" style="width:100%;height: 780px;">
      <div class="border-box-keyless">
        <h2>KEYLESS</h2>
        <p>Skylock connects to your phone so you <br/>never have to worry about losing your key.</p>
      </div>
    </div>  
</div>
