<div class="home-module-wrapper technology">    
    <div class="home-technology-image">
      <img src="{{ 'technologymain.png' | asset_url }}" style="width:100%;">
      <div class="border-box-technology">
        <h3>TECHNOLOGY</h3>
        <div class="rte">
          <h4>Skylock</h4>
            <ul>
              <li>3-axis accelerometer</li>
              <li>LED indicators</li>
              <li>Capacitive touch interface</li>
              <li>Active motor control</li>
              <li>Shackle insertion detection</li>
              <li>Waterproof</li>
              <li>Shockproof and ruggedized</li>
              <li>Steel shackle</li>
              <li>Steel internal housing</li>
              <li>Impact resistant PC shell</li>
              <li>Dimensions: 8.6” W x 5.7” H</li>
              <li>Weight: 2.5 lbs</li>
          	</ul>
        </div>
        <div class="rte">
          <h4>Wireless</h4>
            <ul>
              <li>Bluetooth 4.2 </li>
              <li>Trace PCB antenna</li>
          	</ul>
          <h4>Power & Battery</h4>
            <ul>
              <li>Built-in rechargeable</li>
              <li>LiFePo4</li>
              <li>Thin Film Solar Panel</li>
              <li>USB charging</li>
          	</ul>
          <h4>Software Compatiblity</h4>
            <ul>
              <li>Apple IOS 6.1 or greater</li>
              <li>Android 4.0.3 or greater</li>
          	</ul>
        </div>
      </div>
    </div>  
</div>