<div class="home-module-wrapper home-share-access">    
    <div class="home-shareaccess-image">
      <img src="{{ 'shareaccess.png' | asset_url }}" style="width:100%;height: 780px;">
      <div class="border-box-share-access">
        <h2>SHARE ACCESS</h2>
        <p>Skylock lets you share access to your<br/> 
bike with anyone in your trusted network. With<br/> 
Skylock you can create and set up your own <br/>
bike share system.</p>
      </div>
    </div>  
</div>