<div class="home-module-wrapper home-theft-alert">    
    <div class="home-theftalert-image">
      <img src="{{ 'theftalert.png' | asset_url }}" style="width:100%;height: 780px;">
      <div class="border-box-theft-alert">
        <h2>THEFT ALERT</h2>
        <p>Skylock uses it’s accelerometer to notifiy<br/>
your bike is being tampered with. If your bike<br/> 
shakes, Skylock will feel it, and send you an alert.</p>
      </div>
    </div>  
</div>