<div class="home-module-wrapper home-cash-alert">    
    <div class="home-cashalert-image">
      <img src="{{ 'cashalert.png' | asset_url }}" style="width:100%;height: 780px;">
      <div class="border-box-cash-alert">
        <h2>CRASH ALERT</h2>
        <p>Skylock can detect many types of serious crashes<br/>
using it’s built-in accelerometer.  The Skylock app<br/> 
can notify anyone in your trusted network.</p>
      </div>
    </div>  
</div>