
<div id="mc_embed_signup">
    <form action="//skylock.us6.list-manage.com/subscribe/post?u=7b74138553f1379518ad88273&amp;id=d9e002d330" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email Address for Skylock Updates" />
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button" />
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
        <div style="position: absolute; left: -5000px;">
            <input type="text" name="b_7b74138553f1379518ad88273_d9e002d330" tabindex="-1" value="">
        </div>
    </form>
</div>

<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
<script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='LAST_ORDER';ftypes[1]='date';fnames[2]='COMPANY';ftypes[2]='text';fnames[3]='PHONE';ftypes[3]='phone';fnames[4]='ADDRESS';ftypes[4]='address';fnames[5]='TAGS';ftypes[5]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>

