<div id="intro" class="section">
    <div class="story">
        <div class="center">
            <div id="intro-hero">
                <img id="intro-skylock" class="lazyload" src="{{'skylock.png' | asset_url }}" />
                <img id="play-button" class="lazyload" src="{{'play_button.png' | asset_url }}" />
            </div>
            <h2>SKYLOCK.  THE SMARTEST BIKE LOCK.</h2>
            <p itemprop="description">Skylock is the simple, safe, and social way to bike. Now you can unlock your bike with a tap, get an alert if someone is trying to steal your bike, and even send a text to your family if you’re in an accident. Best of all, Skylock recharges itself.</p>
            <img id="down-arrow" src="{{'down_arrow.png' | asset_url }}" />
        </div>
    </div> <!--.story-->
</div> <!--#intro-->
