
<div id="preorder" class="section">
    <div class="story row">
        <img class="lazyload col-xs-6 col-xs-offset-3 col-md-5 col-md-offset-1" src="{{'skylock_pair.png' | asset_url }}" />
        <span id="preorder-button-box" class="col-xs-12 col-md-5">
            <button id="preorder-button-bottom" class="preorder-button">
                PRE-ORDER <strong>$159</strong><br>
                <del>RETAIL $199</del>
            </button>
            <br>
            Shipping Summer 2015
        </span>
    </div> <!--.story-->
</div> <!--#preorder-->

<span itemprop="brand" itemscope itemtype="http://schema.org/Brand">
<meta itemprop="name" content="Velo Labs">
<meta itemprop="logo" content="http://cdn.shopify.com/s/files/1/0727/8385/t/12/assets/logo_skylock.png"></span>
<meta itemprop="url" content="http://skylock.cc/">
<span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
<meta itemprop="price" content="159"></span>