<div id="techspecs" class="section">
    <h2>
        TECHNOLOGY
    </h2>
    <div class="story row">
        <img id="techspecs-image" class="lazyload hidden-xs col-md-4 col-md-offset-1 col-lg-3 col-lg-offset-3" src="{{'skylock_exploded.png' | asset_url }}" />
        <ul id="techspecs-column1" class="col-xs-6 col-md-3 col-lg-2">
            <li class="techspec heading">Skylock</li>
            <li class="techspec">3-axis accelerometer</li>
            <li class="techspec">LED indicators</li>
            <li class="techspec">Capacitive touch interface</li>
            <li class="techspec">Active motor control</li>
            <li class="techspec">Shackle insertion detection</li>
            <li class="techspec">Weather resistant</li>
            <li class="techspec">Shockproof and ruggedized</li>
            <li class="techspec">Steel shackle </li>
            <li class="techspec">Steel internal housing</li>
            <li class="techspec">Impact resistant rubber shell</li>
            <li class="techspec">Dimensions: 8.6” W x 5.7” H</li>
            <li class="techspec">Weight: 2.5 lbs</li>
        </ul>
        <ul id="techspecs-column2" class="col-xs-6 col-md-3 col-lg-2">
            <li class="techspec heading">Wireless</li>
            <li class="techspec">Bluetooth 4.2 </li>
            <li class="techspec">Trace PCB antenna</li>

            <li class="techspec heading">Power & Battery</li>
            <li class="techspec">Built-in rechargeable LiFePo4 </li>
            <li class="techspec">Thin Film Solar Panel</li>
            <li class="techspec">USB charging</li>

            <li class="techspec heading">Software Compatiblity</li>
            <li class="techspec">Apple iOS 6.1 or greater</li>
            <li class="techspec">Android 4.0.3 or greater
        </ul>

    </div> <!--.story-->
    <h3 class="question">
        <a href="/pages/faq">Questions? Check out our FAQ</a>
    </h3>
</div> <!--#techspecs-->