<div class="home-module-wrapper toughtobreack">    
    <div class="home-toughtobreack-image">
      <img src="{{ 'toughtobreack.png' | asset_url }}" style="width:100%;height: 780px;">
      <div class="border-box-toughtobreack">
        <h2>TOUGH TO BREAK</h2>
        <p>Skylock has a steel housing,<br/>
          a durable polycarbonate cover, and<br/>
          is designed to be extremly robust.<br/><br/>
          Skylock uses 256-Bit eliptic-curve <br/>
          cryptography to keep your bike safe.
        </p>
      </div>
    </div>  
</div>