{% capture themeSettingsLink %}
  <a href="{{ shop.url }}/admin/themes">{{ 'onboarding.theme_settings_link' | t | downcase }}</a>
{% endcapture %}

{% include 'skylock-intro' %}

{% include 'skylock-press' %}

{% include 'skylock-features-services' %}

{% include 'skylock-features-device' %}

{% include 'skylock-techspecs' %}

{% include 'skylock-preorder' %}
