<div id="contact" class="center container">
    <h1 class="page-title center">GET IN TOUCH</h1>
    <div class="row">
        <p id="contact-body" class="col-xs-12 col-xs-offset-0 col-sm-8 col-sm-offset-2">
            Have a question or inquiry? First check out our <a href="http://skylock-2.myshopify.com/pages/faq">FAQ section</a>. No luck with the FAQ? You can contact us directly:
        </p>
    </div>
    <div class="row">
        <span class="col-xs-4 col-xs-offset-0 col-sm-3 col-sm-offset-1">
            <a href="https://www.facebook.com/getskylock">
                <img src="{{'logo-facebook-big.png' | asset_url }}" /><br>
                FACEBOOK
            </a>
        </span>
        <span class="col-xs-4 col-sm-3">
            <a href="https://twitter.com/getskylock">
                <img src="{{'logo-twitter-big.png' | asset_url }}" /><br>
                TWITTER
            </a>
        </span>
        <span class="col-xs-4 col-sm-3">
            <a href="mailto:support@skylock.cc">
                <img src="{{'logo-email-big.png' | asset_url }}" /><br>
                support@skylock.cc
            </a>
        </span>
    </div>

</div>  